@page "/trips/create"
@using Microsoft.EntityFrameworkCore
@using TripTravels.Domain
@inject IDbContextFactory<TripTravels.Data.TripTravelsContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Trip</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Trip" OnValidSubmit="AddTrip" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="startdate" class="form-label">StartDate:</label> 
                <InputDate id="startdate" @bind-Value="Trip.StartDate" class="form-control" /> 
                <ValidationMessage For="() => Trip.StartDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="enddate" class="form-label">EndDate:</label> 
                <InputDate id="enddate" @bind-Value="Trip.EndDate" class="form-control" /> 
                <ValidationMessage For="() => Trip.EndDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Trip.Description" class="form-control" /> 
                <ValidationMessage For="() => Trip.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Trip.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Trip.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Trip.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Trip.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Trip.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Trip.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Trip.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Trip.UpdatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isdeleted" class="form-label">IsDeleted:</label> 
                <InputCheckbox id="isdeleted" @bind-Value="Trip.IsDeleted" class="form-check-input" /> 
                <ValidationMessage For="() => Trip.IsDeleted" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/trips">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Trip Trip { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTrip()
    {
        using var context = DbFactory.CreateDbContext();
        context.Trip.Add(Trip);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/trips");
    }
}
