@page "/trips"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TripTravels.Domain
@using TripTravels.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TripTravels.Data.TripTravelsContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="trips/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Trip">
    <PropertyColumn Property="trip => trip.StartDate" />
    <PropertyColumn Property="trip => trip.EndDate" />
    <PropertyColumn Property="trip => trip.Description" />
    <PropertyColumn Property="trip => trip.DateCreated" />
    <PropertyColumn Property="trip => trip.DateUpdated" />
    <PropertyColumn Property="trip => trip.CreatedBy" />
    <PropertyColumn Property="trip => trip.UpdatedBy" />
    <PropertyColumn Property="trip => trip.IsDeleted" />

    <TemplateColumn Context="trip">
        <a href="@($"trips/edit?id={trip.Id}")">Edit</a> |
        <a href="@($"trips/details?id={trip.Id}")">Details</a> |
        <a href="@($"trips/delete?id={trip.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TripTravelsContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
