@page "/activities/create"
@using Microsoft.EntityFrameworkCore
@using TripTravels.Domain
@inject IDbContextFactory<TripTravels.Data.TripTravelsContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Activity</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Activity" OnValidSubmit="AddActivity" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="tripid" class="form-label">TripId:</label> 
                <InputText id="tripid" @bind-Value="Activity.TripId" class="form-control" /> 
                <ValidationMessage For="() => Activity.TripId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Activity.Description" class="form-control" /> 
                <ValidationMessage For="() => Activity.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="activitydate" class="form-label">ActivityDate:</label> 
                <InputDate id="activitydate" @bind-Value="Activity.ActivityDate" class="form-control" /> 
                <ValidationMessage For="() => Activity.ActivityDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="Activity.Location" class="form-control" /> 
                <ValidationMessage For="() => Activity.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="Activity.Rate" class="form-control" /> 
                <ValidationMessage For="() => Activity.Rate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Activity.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Activity.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Activity.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Activity.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Activity.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Activity.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Activity.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Activity.UpdatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isdeleted" class="form-label">IsDeleted:</label> 
                <InputCheckbox id="isdeleted" @bind-Value="Activity.IsDeleted" class="form-check-input" /> 
                <ValidationMessage For="() => Activity.IsDeleted" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/activities">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Activity Activity { get; set; } = new();

    public Create(Activity activity)
    {
        Activity = activity;
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddActivity()
    {
        using var context = DbFactory.CreateDbContext();
        context.Activity.Add(Activity);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/activities");
    }
}
